# Pandas 08 - Grouping and aggreagating

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('survey_results_public.csv')

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [4]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [5]:
df['ConvertedComp'].head(15)

0          NaN
1          NaN
2       8820.0
3      61000.0
4          NaN
5     366420.0
6          NaN
7          NaN
8      95179.0
9      13293.0
10         NaN
11         NaN
12     90000.0
13     57060.0
14         NaN
Name: ConvertedComp, dtype: float64

In [6]:
df['ConvertedComp'].median()

57287.0

In [7]:
df.median()

/tmp/ipykernel_16680/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [8]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [9]:
# cuenta los registros por columna seleccionada
df['ConvertedComp'].count()

55823

In [10]:
df[['Hobbyist']]

      Hobbyist
0          Yes
1           No
2          Yes
3           No
4          Yes
...        ...
88878      Yes
88879       No
88880       No
88881       No
88882      Yes

[88883 rows x 1 columns]

In [11]:
df[['Hobbyist']].value_counts()

Hobbyist
Yes         71257
No          17626
dtype: int64

In [12]:
df[['SocialMedia']]

      SocialMedia
0         Twitter
1       Instagram
2          Reddit
3          Reddit
4        Facebook
...           ...
88878     YouTube
88879         NaN
88880         NaN
88881         NaN
88882    WhatsApp

[88883 rows x 1 columns]

In [13]:
df[['SocialMedia']].value_counts()

SocialMedia
Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
dtype: int64

In [14]:
df[['SocialMedia']].value_counts(normalize=True)

SocialMedia
Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
dtype: float64

In [15]:
fil = df.groupby(['Country'])

In [16]:
# groupby no retorna un df, sino una agrupacion, get_group obtiene el filtro a usa con
# groupby
df.groupby(['Country']).get_group('Mexico')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
292,294,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Mexico,"Yes, full-time",NaN,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy
338,340,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,35.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Too long,Easy
758,761,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Woman,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
910,914,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,51.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
1003,1007,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,27.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88617,45273,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,25.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
88631,46743,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,Mexico,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,51.0,Man,Yes,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
88648,48912,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,NaN,Woman,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
88697,57913,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,NaN,NaN,NaN,Too long,Easy
88750,66267,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,NaN,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Difficult

In [17]:
df.loc[df.loc[:, 'Country'] == 'Mexico']

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
292,294,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Mexico,"Yes, full-time",NaN,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy
338,340,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,35.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Too long,Easy
758,761,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Woman,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
910,914,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,51.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
1003,1007,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,27.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88617,45273,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,25.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
88631,46743,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,Mexico,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,51.0,Man,Yes,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
88648,48912,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,NaN,Woman,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
88697,57913,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,NaN,NaN,NaN,Too long,Easy
88750,66267,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,NaN,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Difficult

In [18]:
# cuenta los registros de columna de socialmedia segun la condicion en contry
df.loc[df.loc[:, 'Country'] == 'India']['SocialMedia'].value_counts()

WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [19]:
df.groupby(['Country']).get_group('Mexico')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
292,294,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Mexico,"Yes, full-time",NaN,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy
338,340,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,35.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Too long,Easy
758,761,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Woman,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
910,914,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,51.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
1003,1007,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,27.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88617,45273,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,25.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
88631,46743,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,Mexico,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,51.0,Man,Yes,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
88648,48912,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,NaN,Woman,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
88697,57913,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Another engineering discipline (ex. civil, ele...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,NaN,NaN,NaN,Too long,Easy
88750,66267,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Mexico,No,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,NaN,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Difficult

In [20]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [21]:
df.groupby(['Country', 'SocialMedia'])

In [22]:
# crea grupos por country y cuenta los valores de la segunda pasada fuera de groupby
df.groupby('Country')['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [23]:
# lo mismo de arriba paro ahora filtra por columna en country
df.groupby('Country')['SocialMedia'].value_counts(normalize=True).loc['Canada']

SocialMedia
Reddit                      0.275619
YouTube                     0.160905
Facebook                    0.157541
Twitter                     0.123891
Instagram                   0.075252
I don't use social media    0.070970
WhatsApp                    0.056592
LinkedIn                    0.054757
WeChat 微信                   0.013460
Snapchat                    0.008565
VK ВКонта́кте               0.002141
Weibo 新浪微博                  0.000306
Name: SocialMedia, dtype: float64

In [24]:
df.groupby(['Country'])['ConvertedComp'].median().loc['Germany']

63016.0

In [25]:
# agg, muestra la media y la constante
df.groupby(['Country'])['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [26]:
# igual a lo anterior haciendo uso de loc
df.groupby(['Country'])['ConvertedComp'].agg(['median', 'mean']).loc['Canada']

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

In [27]:
# filtrar pais y todo lo que contenga python
df.loc[df.loc[:, 'Country'] == 'India']['LanguageWorkedWith'].str.contains('Python')

7         True
9         True
14       False
49        True
64       False
         ...
88808    False
88825     True
88852    False
88853     True
88864    False
Name: LanguageWorkedWith, Length: 9061, dtype: object

In [28]:
df.loc[df.loc[:, 'Country'] == 'India']['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [31]:
# por cada pais suma la coincidencia por Python
df.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [32]:
df['Country'].value_counts()

United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: Country, Length: 179, dtype: int64

In [33]:
pdlambda = df.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
pdlambda

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [34]:
crespondes = df['Country'].value_counts()

In [35]:
use_python = df.groupby(['Country'])['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [38]:
# une dos columnas de 2 diferentes consultas
python_df = pd.concat([crespondes, use_python], axis='columns', sort=False)
python_df

                   Country  LanguageWorkedWith
United States        20949               10083
India                 9061                3105
Germany               5866                2451
United Kingdom        5737                2384
Canada                3395                1558
...                    ...                 ...
Tonga                    1                   0
Timor-Leste              1                   1
North Korea              1                   0
Brunei Darussalam        1                   0
Chad                     1                   0

[179 rows x 2 columns]

In [45]:
# renombras las columnas del nuevo df
python_df = python_df.rename(columns={'Country': 'NumsRespod', 'LanguageWorkedWith': 'Pythonusers'})

In [46]:
# esto crea una nueva columna Valnew que es el resultado de la siguiente operacion
python_df['Valnew'] = (python_df['Pythonusers'] / python_df['NumsRespod']) * 100
python_df

                   NumsRespod  Pythonusers      Valnew
United States           20949        10083   48.131176
India                    9061         3105   34.267741
Germany                  5866         2451   41.783157
United Kingdom           5737         2384   41.554820
Canada                   3395         1558   45.891016
...                       ...          ...         ...
Tonga                       1            0    0.000000
Timor-Leste                 1            1  100.000000
North Korea                 1            0    0.000000
Brunei Darussalam           1            0    0.000000
Chad                        1            0    0.000000

[179 rows x 3 columns]

In [47]:
# ordena los valores y lo guarda
python_df.sort_values(by='Valnew', ascending= False, inplace=True)

In [48]:
python_df

                                  NumsRespod  Pythonusers      Valnew
Sao Tome and Principe                      1            1  100.000000
Timor-Leste                                1            1  100.000000
Dominica                                   1            1  100.000000
Niger                                      1            1  100.000000
Turkmenistan                               7            6   85.714286
...                                      ...          ...         ...
Cape Verde                                 3            0    0.000000
Lao People's Democratic Republic           3            0    0.000000
Malawi                                     2            0    0.000000
Liberia                                    2            0    0.000000
Chad                                       1            0    0.000000

[179 rows x 3 columns]

In [57]:
python_df.loc[['United States']]

               NumsRespod  Pythonusers     Valnew
United States       20949        10083  48.131176

In [61]:
python_df.loc[python_df.loc[:,'NumsRespod'] > 2_000]

                NumsRespod  Pythonusers     Valnew
United States        20949        10083  48.131176
Canada                3395         1558  45.891016
France                2391         1054  44.081974
Germany               5866         2451  41.783157
United Kingdom        5737         2384  41.554820
India                 9061         3105  34.267741

In [63]:
python_df.loc[['Japan']]

       NumsRespod  Pythonusers     Valnew
Japan         391          182  46.547315