#  Pandas 01 - Basic creata and load DataFrame.
Introduccion basica a las Series y DataFrame.

In [1]:
# importar el modulo de pandas como un alias
import pandas as pd

### Crear un DataFrame a partir de un diccionario

In [2]:
personas = {
    'Nombre': ['Mario', 'Concha', 'Karen', 'Rocky'],
    'Apellidos': ['Bros', 'Ramirez', 'Rosas', 'Balbloa'],
    'Edad': [29, 7, 25, 39]
}

# una vez creado en diccionaro lo pasamos a un DataFrame
df = pd.DataFrame(personas)

In [3]:
# esto nos da un DataFrame asi:
df

   Nombre Apellidos  Edad
0   Mario      Bros    29
1  Concha   Ramirez     7
2   Karen     Rosas    25
3   Rocky   Balbloa    39

### Cargar un archivo .csv para hacer un DataFrame

In [4]:
df_csv = pd.read_csv('survey_results_public.csv')

In [5]:
# carga y convierte el archivo de entrada en un DataFrame
df_csv

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

### Mostrar los primeros registros del DataFrame

In [6]:
df_csv.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

###  Mostrar los ultimos registros del DataFrame

In [7]:
df_csv.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

Tanto head() como tail() soportan un entero pasado como argumento para indicar el numero de registros a mostrar.

In [8]:
df_csv.head(2)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

### Mostrar el numero de colunas y filas en el DataFrame

In [9]:
df_csv.shape

(88883, 85)

### Mostrar información sobre el DataFrame

In [10]:
# Muestra que tipo de datos es cada columna o si existen
# elementos vacios.
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

### Mostrar el nombre de todas las columnas

In [11]:
df_csv.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

### Mostrar los indices (pimera fila izquierda) de DataFrame

In [12]:
# inicio, registro donde se tiene y el numero de saltos
df_csv.index

RangeIndex(start=0, stop=88883, step=1)

###  Acceder a una columna predeterminada

In [13]:
# esto devuelve una lista
df_csv['OpenSourcer']

0                                                    Never
1                                  Less than once per year
2                                                    Never
3                                                    Never
4                               Once a month or more often
                               ...
88878    Less than once a month but more than once per ...
88879                                                Never
88880                                                Never
88881                                                Never
88882                              Less than once per year
Name: OpenSourcer, Length: 88883, dtype: object

In [14]:
# devolver la lista pero como DataFrame
df_csv[['OpenSourcer']]

                                             OpenSourcer
0                                                  Never
1                                Less than once per year
2                                                  Never
3                                                  Never
4                             Once a month or more often
...                                                  ...
88878  Less than once a month but more than once per ...
88879                                              Never
88880                                              Never
88881                                              Never
88882                            Less than once per year

[88883 rows x 1 columns]

In [15]:
# para aceder a varias columnas se añaden separadas por coma
df_csv[['OpenSourcer', 'Country']]

,OpenSourcer,Country
0,Never,United Kingdom
1,Less than once per year,Bosnia and Herzegovina
2,Never,Thailand
3,Never,United States
4,Once a month or more often,Ukraine
...,...,...
88878,Less than once a month but more than once per ...,Canada
88879,Never,NaN
88880,Never,NaN
88881,Never,NaN
88882,Less than once per year,Spain

### Acceder a filas y columnas por indices (solo enteros) con iloc[].
iloc recibe 2 enteros pasados como argumentos, el segundo es opcional, si no se pasa el indice de la columan retorna todas.

In [16]:
# retorna una lista que representa la fila pasada como argumento en iloc
df_csv.iloc[1]

Respondent                                                      2
MainBranch                 I am a student who is learning to code
Hobbyist                                                       No
OpenSourcer                               Less than once per year
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 1, Length: 85, dtype: object

In [17]:
# se debe utilizar doble [[]] para retornar un DataFrame
df_csv.iloc[[1]]
# retorna la fila y todas las columnas si no se especifica un segundo argumento el cual
# seria el indice de la columna

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [18]:
# acceder a fila y a columna por su indice
df_csv.iloc[[1], [3]]

               OpenSourcer
1  Less than once per year

In [19]:
# pasar varios indices y columnas en iloc
df_csv.iloc[[1,2,3], [1,3,5]]

,MainBranch,OpenSourcer,Employment
1,I am a student who is learning to code,Less than once per year,"Not employed, but looking for work"
2,"I am not primarily a developer, but I write co...",Never,Employed full-time
3,I am a developer by profession,Never,Employed full-time

In [20]:
# usar rebandas (slices) no llevan doble []
df_csv.iloc[1:4, [1]]

                                          MainBranch
1             I am a student who is learning to code
2  I am not primarily a developer, but I write co...
3                     I am a developer by profession

In [21]:
# usar slices en fila y columna. Retorna un DataFrame
df_csv.iloc[1:5, 1:3]

                                          MainBranch Hobbyist
1             I am a student who is learning to code       No
2  I am not primarily a developer, but I write co...      Yes
3                     I am a developer by profession       No
4                     I am a developer by profession      Yes

In [22]:
# si no se especifica el indice de la columna retorna todas
df_csv.iloc[1:5]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [23]:
# seleccionar determindas columnas y mostrar todas las filas
df_csv.iloc[:, [1,2,3]]

,MainBranch,Hobbyist,OpenSourcer
0,I am a student who is learning to code,Yes,Never
1,I am a student who is learning to code,No,Less than once per year
2,"I am not primarily a developer, but I write co...",Yes,Never
3,I am a developer by profession,No,Never
4,I am a developer by profession,Yes,Once a month or more often
...,...,...,...
88878,NaN,Yes,Less than once a month but more than once per ...
88879,NaN,No,Never
88880,NaN,No,Never
88881,NaN,No,Never
88882,NaN,Yes,Less than once per year

### Seleccion de columnas y filas con loc[].
loc puede acceder tanto a las filas como a las columnas por el nombre del indice, en caso de tener etiquetas de nombre en los indices de filas, de lo contrario se acceder por el numero entero.

In [24]:
df_csv.loc[[1], ['Employment']]

                           Employment
1  Not employed, but looking for work

In [25]:
# acceder a determinada columna y mostrar todas las filas
df_csv.loc[:, ['Employment']]

                                              Employment
0                 Not employed, and not looking for work
1                     Not employed, but looking for work
2                                     Employed full-time
3                                     Employed full-time
4                                     Employed full-time
...                                                  ...
88878             Not employed, and not looking for work
88879                                                NaN
88880                                 Employed full-time
88881  Independent contractor, freelancer, or self-em...
88882             Not employed, and not looking for work

[88883 rows x 1 columns]

### Series de pandas
las series en pandas solo son las columnas, mientras que un DataFrame es la tabla completa con las filas y columnas.

In [26]:
# crear una serie a partir de una lista
lista = [1,2,3,4,5,6,7,8]
lps = pd.Series(lista)

esto crea un serie la cual es solo una columna, si no se pasa nigun indice, pandas le asigna uno por defetco

In [27]:
lps

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [28]:
# la serie es solo accesible solo por el indices
lps[3]

4

asignar etiquetas a los indices de la serie

In [29]:
lps = pd.Series(lista, index=['a', 'b,', 'c', 'd', 'e', 'f', 'g', 'h'])

In [30]:
# Ahora las etiquetas tiene nombre de indice
lps

a     1
b,    2
c     3
d     4
e     5
f     6
g     7
h     8
dtype: int64

In [31]:
# acceder a una fila por su etiqueta
lps['a']

1

### Crear directamente una serie con etiquetas de indice.

In [32]:
calorias = {'coca': 300, 'jugo': 200, 'natural': 75, 'agua': 65}
cal = pd.Series(calorias)
cal

coca       300
jugo       200
natural     75
agua        65
dtype: int64

### Metodos adicionales para series.
Tratarlo como un diccionario.

In [33]:
# usar el metodo in con el indice
'jugo' in cal

True

In [34]:
# si un indice no esta produce un keyerror
cal['jugo']

200

devuelve un keyerror al no encontrarse en la serie
cal['soda']

In [35]:
# usar elmetodo get y un argumwnto para devolver una segunda opcion
cal.get('natural', '#n/a')

75

In [36]:
cal.get('soda', '#n/a')

'#n/a'

### Atributo de nombre.
una serie tambien puede tener un nombre asignado.

In [37]:
cal1 = pd.Series(calorias, name='Serie calorias')

In [38]:
cal1

coca       300
jugo       200
natural     75
agua        65
Name: Serie calorias, dtype: int64

In [39]:
cal1.name

'Serie calorias'

In [40]:
# renombrar la serie
cal1.rename('nocal', inplace=True)

coca       300
jugo       200
natural     75
agua        65
Name: nocal, dtype: int64

In [41]:
cal1.name

'nocal'

### Crear un DataFrame a partir de Series.

In [42]:
d = {
    'one': pd.Series([1.0,2.0,3.0], index=['a','b','c']),
    'two': pd.Series([10,20,30,40], index=['a','b','c','d'])
}
dd = pd.DataFrame(d)

In [43]:
# si el largo es diferente por omision en una serie se completa con NaN automaticamente
dd

   one  two
a  1.0   10
b  2.0   20
c  3.0   30
d  NaN   40

In [44]:
# renombrar columnas
dd.rename(columns={'one': 'Uno', 'two': 'Dos'})

   Uno  Dos
a  1.0   10
b  2.0   20
c  3.0   30
d  NaN   40

In [45]:
# crear DataFrame seleccionando determinadas columnas
de = pd.DataFrame(d, columns=['two'])

In [46]:
de

   two
a   10
b   20
c   30
d   40